/* .text-white .nav-link {
  --bs-nav-link-color: var(--bs-light);
  --bs-nav-link-hover-color: var(--bs-light);
  --bs-nav-link-active-color: var(--bs-light);
  --bs-navbar-active-color: var(--bs-light);
}

.navbar.fixed-top {
  transition: background-color 0.6s ease-out;
} */
  .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }
